{
    "tabWidth": 4,
    "endOfLine": "lf",
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "semi": true,
    "trailingComma": "es5"
}
