{
    "processors": [
        "stylelint-processor-styled-components"
    ],
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-styled-components",
        "stylelint-config-twbs-bootstrap"
    ],
    "rules": {
        "indentation": null,
        "declaration-colon-newline-after": null,
        "number-leading-zero": null,
        "color-hex-length": null,
        "no-empty-source": null,
        "value-keyword-case": null
    }
}
