<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86347270073-1nqv3jklo57ljv36rpumbatc4fd01j8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86347270073-1nqv3jklo57ljv36rpumbatc4fd01j8i</string>
	<key>API_KEY</key>
	<string>AIzaSyCYrzwcMJRBF3ZZpNqk9XbBTdh2Z4qp0xM</string>
	<key>GCM_SENDER_ID</key>
	<string>86347270073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lkarasinski.adpero</string>
	<key>PROJECT_ID</key>
	<string>adpero-1a98f</string>
	<key>STORAGE_BUCKET</key>
	<string>adpero-1a98f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86347270073:ios:fef4633c320f6a33c41868</string>
</dict>
</plist>